# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# Data
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# File Extensions
*.csv
*.pickle
*.pyc

# Environment Variables
venv/
.env/

# Installer logs
pip-log.txt